<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Glimpse" version="1.8.5" targetFramework="net40" />
  <package id="Glimpse.AspNet" version="1.9.0" targetFramework="net40" />
  <package id="Glimpse.Mvc4" version="1.5.3" targetFramework="net40" />
  <package id="Iesi.Collections" version="3.2.0.1001" targetFramework="net40" />
  <package id="NHibernate" version="3.3.3.4001" targetFramework="net40" />
  <package id="NHibernate.Glimpse" version="3.3.3.40011" targetFramework="net40" />
</packages>