# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

*.user
*.suo
 
 
/Src/Zing/Zing.Framework.csproj.user
 
/Src/Zing.Web/App_Data/Logs
 
# NuGet Packages Directory
packages

/Src/Zing.Framework.Tests/TestResult.xml
/Src/Zing.Framework.Tests/Zing.Framework.Tests.csproj.VisualState.xml
