/Src/Zing.Web/*.user
/Src/*.suo
/Src/Zing/bin
/Src/Zing/obj
/Src/Zing.Web/bin
/Src/Zing.Web/obj
/Src/Zing/Zing.Framework.csproj.user
/Src/Zing.WarmupStarter/bin
/Src/Zing.WarmupStarter/obj
/Src/Zing.Web/Core/bin
/Src/Zing.Web/Core/obj
/Src/Zing.Web/Modules/Hello/bin
/Src/Zing.Web/Modules/Hello/obj
